.main-container {
    font-family: 'Karla', sans-serif;
    letter-spacing: -1px;
}

.btn.btn-pink {
    background-color:#F5A9B8;
}

.btn.btn-blue {
    background-color: #5BCEFA;
}

.main-container .btn {
    width:50%;
    font-size: 20px;
    font-weight:500;
}

.main-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.main-container .row a,
.main-container .row input {
    border-radius: 0;
    font-weight: 700;
}

.main-container .row input {
    letter-spacing: -1px;
}

.main-container {
    padding-top: 100px;
}

.main-container h1 {
    padding-bottom:40px;
    font-size: 2rem;
    font-weight: 700;
}