.blog-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    h1 {
        font-size: 3em;
        margin-bottom: 1.75rem;
    }
    .main-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        > * {
            width: 50%
        }
    }
    .blog-cards {
        .blog-card {
            background-color: #FFF;
            padding: 0.5rem;
            box-shadow: 0 0 0.3126rem #999;
            margin-bottom: 1rem;
            p {
                word-break: break-word;
                // TODO: Fix hyphens not working
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                hyphens: auto;
            }
        }
    }
    textarea {
        width: 100%;
    }
}
@media (max-width: 991.98px) {
    .blog-container {
        .main-div > * {
            width: 75%;
        }
    }
}