.blog-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    h1 {
        font-size: 3em;
        margin-bottom: 1.75rem;
    }
    .main-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        > * {
            width: 75%;
            @media (max-width: 991.98px) {
                width: 85%;
            }
            @media (max-width: 575.98px) {
                width: 90%;
            }
        }
    }
    .blog-cards {
        .blog-card {
            position: relative;
            background-color: #FFF;
            padding: 0.5rem;
            box-shadow: 0 0 0.3125rem #999;
            margin-bottom: 1rem;
            p {
                word-break: break-word;
                font-size: 1.125rem;
            }
            .blog-buttons {
                position: absolute;
                top: 0;
                right: 0;
                button, a {
                    background-color: rgba(0,0,0,0);
                    border: none;
                    outline: none;
                    font-size: 1.25rem;
                    color: #212529;
                    opacity: 0.6;
                    transition: 0.3s;
                    &:hover {
                        opacity: 1;
                    }
                }
                .button-blog-view {
                    padding-right: 0.5rem;
                }
                .button-blog-edit {
                    padding-left: 0;
                }
            }
        }
    }
    textarea {
        width: 100%;
    }
    @media (max-width: 575.98px) {
        h2 {
            font-size: 1.75rem;
        }
    }
}