.jsframework-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: 'Karla', sans-serif;
    letter-spacing: -1px;
    h1 {
        font-size: 3rem;
    }
    .jsf-grid {
        padding-top: 1rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        .jsf-grid-card {
            padding: 0.5rem;
            border-radius: 0.5rem;
            text-decoration: none;
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        }
        .card-white {
            background-color: #FFF;
            color: #000;
        }
        .card-blue  {
            background-color: #0062CC;
            color: #FFF
        }
        .card-dark {
            background-color: #040730;
            color: #FFF;
        }
        .card-gray {
            background-color: #71797E;
            color: #FFF;
        }
    }
    .main-div,
    .jsf-grid-card {
        opacity: 0;
        -webkit-animation: fadein 1.5s;
        -moz-animation: fadein 1.5s;
        animation: fadein 1.5s;
        animation-fill-mode: forwards;
    }
    .jsf-grid-card {
        animation-delay: calc(1.2s + var(--order) * 300ms);
    }
}

@media (min-width: 1200px) {
    .container.jsframework-container {
        max-width: 960px;
    }
}

@media (max-width: 767.98px) {
    .jsframework-container {
        .jsf-grid {
            grid-template-columns: 1fr;
        }
    }
}