.jsframework-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    h1 {
        font-size: 3rem;
    }
    .jsf-grid {
        padding-top: 1rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        .jsf-grid-card {
            padding: 0.5rem;
            border-radius: 0.5rem;
            text-decoration: none;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
            transition: box-shadow 0.3s ease, background-color 0.3s ease;
            &:hover, &:focus {
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
                transition: box-shadow 0.3s ease, background-color 0.3s ease;
            }
        }
        .card-white {
            background-color: hsl(0, 0%, 100%);
            color: #000;
            &:hover, &:focus {
                background-color: hsl(0, 0%, 95%);
            }
        }
        .card-blue  {
            background-color: hsl(211, 100%, 40%);
            color: #FFF;
            &:hover, &:focus {
                background-color: hsl(211, 100%, 35%);
            }
        }
        .card-dark {
            background-color: hsl(236, 85%, 10%);
            color: #FFF;
            &:hover, &:focus {
                background-color: hsl(236, 85%, 5%);
            }
        }
        .card-gray {
            background-color: hsl(203, 5%, 47%);
            color: #FFF;
            &:hover, &:focus {
                background-color: hsl(203, 5%, 45%);
            }
        }
        @media (max-width: 767.98px) {
            grid-template-columns: 1fr;
        }
    }
    .main-div,
    .jsf-grid-card {
        opacity: 0;
        -webkit-animation: fadein 1.5s;
        -moz-animation: fadein 1.5s;
        animation: fadein 1.5s;
        animation-fill-mode: forwards;
    }
    .jsf-grid-card {
        animation-delay: calc(1.2s + var(--order) * 300ms);
    }
    @media (min-width: 1200px) {
        &.container {
            max-width: 960px;
        }
    }
}