.powerwash-container {
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
    h2 {
        padding-bottom: 0.625rem;
    }
    h2, .improvements-container {
        border-bottom: 3px solid #CFCCE8;
        margin-bottom: 1rem;
        text-align: center;
    }
    .delta {
        font-weight: 600;
        color: #73be73;
        white-space: nowrap;
    }
    .minus {
        letter-spacing: -2px;
    }
    .section-container,
    .info-text {
        opacity: 0;
        -webkit-animation: fadein 1.5s;
        -moz-animation: fadein 1.5s;
        animation: fadein 1.5s;
        animation-fill-mode: forwards;
    }
    .ae-container {
        animation-delay: 1.2s;
    }
    .be-container {
        animation-delay: 1.5s;
    }
    .other-totals {
        animation-delay: 1.8s;
    }
    .wr-totals {
        animation-delay: 2.1s;
        font-size: 1.25rem;
        .row {
            border-bottom: 2px solid #CFCCE8;
            margin: 0;
        }

    }
    .legend-row {
        font-weight: bold;
    }
    .player-name {
        background: linear-gradient(90deg, var(--color-from), var(--color-to));
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    @media (max-width: 991.98px) {
        .be-container, .other-totals {
            padding-top: 1.5rem;
        }
    }
}