.powerwash-container {
    padding-top: 0.5rem;
    padding-bottom: 2.5rem;
    h2 {
        padding-bottom: 0.625rem;
    }
    h2, .improvements-container {
        border-bottom: 3px solid #CFCCE8;
        margin-bottom: 1rem;
        text-align: center;
    }
    .button-controls {
        display: grid;
        width: min(300px, 100%);
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        padding: 0 0.5rem 1.5rem 0.5rem;
        margin: auto;
        button {
            background-color: #CFCCE8;
            font-weight: 600;
            font-size: 1.25rem;
            &:hover,
            &.active {
                color: #FFF;
                background-color: #8b84c8;
            }
            @media (max-width: 575.98px) {
                font-size: 1rem;
            }
        }
    }
    .delta {
        font-weight: 600;
        color: #73be73;
        white-space: nowrap;
    }
    .minus {
        letter-spacing: -2px;
    }
    .section-container,
    .info-text {
        opacity: 0;
        -webkit-animation: fadein 1.5s;
        -moz-animation: fadein 1.5s;
        animation: fadein 1.5s;
        animation-fill-mode: forwards;
        &.disable-stagger {
            animation-delay: 0s!important;
        }
    }
    .ae-container {
        animation-delay: 1.2s;
    }
    .be-container {
        animation-delay: 1.5s;
    }
    .other-totals {
        animation-delay: 1.8s;
    }

    .wr-totals {
        animation-delay: 2.1s;
    }
    .wr-totals .row,
    .wr-bonusdlc-totals .row {
        font-size: 1.25rem;
        border-bottom: 2px solid #CFCCE8;
        margin: 0;
    }
    .legend-row {
        font-weight: bold;
    }
    .player-name {
        font-weight: 600;
        background: linear-gradient(90deg, var(--color-from), var(--color-to));
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .run-link {
        font-weight: bold;
        color: #000;
    }
    @media (max-width: 991.98px) {
        .be-container, .other-totals {
            padding-top: 1.5rem;
        }
    }
}