.powerwash-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    h2 {
        border-bottom: 3px solid #CFCCE8;
        margin-bottom: 1rem;
        padding-bottom: 0.625rem;
        text-align: center;
    }
}