.stream-container {
    font-family: 'Karla', sans-serif;
    letter-spacing: -1px;
    padding-top: 25px;
    h1 {
        font-size: 3rem;
        padding-bottom: 25px;
        text-align: center;
    }
    .main-div,
    .srdc-container,
    .youtube-container {
        opacity: 0;
        -webkit-animation: fadein 1.5s;
        -moz-animation: fadein 1.5s;
        animation: fadein 1.5s;
        animation-fill-mode: forwards;
    }
    .srdc-container {
        animation-delay: 1.2s;
        h2 {
            border-bottom: 3px solid #CFCCE8;
            margin-bottom: 16px;
            padding-bottom: 10px;
            text-align: center;
        }
        img {
            height: 100px;
        }
        .speedrun-text {
            margin-top: auto;
            margin-bottom: auto;
        }
        .speedrun-logo {
            text-align: center;
        }
        .speedrun {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    .youtube-container {
        animation-delay: 1.5s;
        h2 {
            border-bottom: 3px solid #CFCCE8;
            margin-bottom: 16px;
            padding-bottom: 10px;
            text-align: center;
        }
        img {
            height: 100px;
        }
        .video-text {
            margin-top: auto;
            margin-bottom: auto;
        }
        .video-thumbnail {
            text-align: center;
        }
        .video {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 991.98px) {
    .youtube-container,
    .twitter-container,
    .twitch-container {
        h1 {
            padding-top: 20px;
        }
    }
}

@media (max-width: 575.98px) {
    .stream-container {
        .srdc-container {
            .speedrun-date {
                display: none;
            }
            img {
                height: 85px;
            }
        }
        .youtube-container {
            img {
                height: 85px;
            }
        }
    }
}