.stream-container {
    font-family: 'Karla', sans-serif;
    letter-spacing: -1px;
    padding-top: 25px;
    .srdc-container {
        h1 {
            padding-bottom:10px;
        }
        img {
            height: 100px;
        }
        .speedrun-text {
            margin-top: auto;
            margin-bottom: auto;
        }
        .speedrun-logo {
            text-align: center;
        }
        .speedrun {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 575.98px) {
    .stream-container {
        .srdc-container {
            .speedrun-date {
                display: none;
            }
            img {
                height: 85px;
            }
        }
    }
}