@use 'pages/linktree';
@use 'pages/stream';
@use 'pages/swiss';
@use 'pages/projects';
@use 'pages/alphabet';
@use 'pages/jsframework';
@use 'pages/login';
@use 'pages/blog';

@use 'components/overlay';
@use 'components/jsfchild';
@use 'components/wip';
@use 'components/anim';

body.pink {
    background-color: #fadadd !important;
    .menu-popout {
        background-color: #fadadd;
    }
}

body.light-blue {
    background-color: #93caed !important;
    .menu-popout {
        background-color: #93caed;
    }
}

body.soft-blue {
    background-color: #eef1ff !important;
    .menu-popout {
        background-color: #eef1ff;
    }
}

body.light-orange {
    background-color: #FFDFBF !important;
    .menu-popout {
        background-color: #FFDFBF;
    }
}

.btn.btn-pink {
    background-color:#F5A9B8;
}

.btn.btn-blue {
    background-color: #5BCEFA;
}

.btn.btn-white {
    background-color: #fff;
}