@use 'pages/linktree';
@use 'pages/stream';
@use 'pages/swiss';
@use 'components/overlay';
@use 'pages/projects';
@use 'pages/alphabet';
@use 'pages/jsframework';
@use 'components/jsfchild';

body.pink {
    background-color: #fadadd !important;
}

body.light-blue {
    background-color: #93caed !important;
}

body.soft-blue {
    background-color: #eef1ff !important;
}

.btn.btn-pink {
    background-color:#F5A9B8;
}

.btn.btn-blue {
    background-color: #5BCEFA;
}

.btn.btn-white {
    background-color: #fff;
}