.jsfchild-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    letter-spacing: -1px;
    font-family: 'Karla', sans-serif;
    .main-div,
    .project {
        opacity: 0;
        -webkit-animation: fadein 1.5s;
        -moz-animation: fadein 1.5s;
        animation: fadein 1.5s;
        animation-fill-mode: forwards;
    }
    h1 {
        font-size: 3rem;
        padding-bottom: 25px;
        text-align: center;
    }
    h2 {
        border-bottom: 3px solid #CFCCE8;
        margin-bottom: 16px;
        padding-bottom: 10px;
        text-align: center;
    }
    .calc-container {
        .calc-grid {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(4, 1fr);
            .calc-button-op {
                background-color: #B8B8B8;
            }
            .calc-button-num {
                background-color: #D0D0D0;
            }
        }
        .calc-display {
            text-align: right;
        }
    }
    .project {
        animation-delay: calc(1.2s + var(--order) * 300ms);
    }
}

/* Temp CSS hotfix, remove in next commit */
@media (max-width: 767.98px) {
    .unitconvert-container {
        padding-top: 1.5rem;
    }
}